body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./components/2.jpg') round;
}

code {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



